.copy_center_footer {
    position: fixed;
    bottom: 0;
    width: 100%
    
}
#pic1
{
    width: 400px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}

#pic2
{
    width: 400px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}

#pic3
{
    width: 400px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}

body
{
   background-color: lightgrey;
}

#camera
{
    width: 500px;
    height: 400px;
}
